.task {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: space-between;
}
.buttons{
    gap: 20px;
    display: flex;
}
.edit{
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: space-between;
}
input{
    border: none;
}